/* src/styles/background.css */

.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #03002C;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  filter: blur(140px);
}

/* Ellipse 2 */
.ellipse-2 {
  width: 554px;
  height: 514px;
  left: -33px;
  top: -240px;
  background: #8881C9;
}

/* Ellipse 1 */
.ellipse-1 {
  width: 519px;
  height: 514px;
  left: 1180px;
  top: 608px;
  background: #98D5D5;
}

/* Ellipse 6 */
.ellipse-6 {
  width: 519px;
  height: 514px;
  left: 1180px;
  top: -514px;
  background: #98D5D5;
}

/* landing page 5 */
.ellipse-5 {
    position: relative;
    width: 1440px;
    height: 1122px;
    background: #03002C;
}