@import "tailwindcss";

/* index.css or global.css */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  overflow-y: scroll; /* prevent layout shift */
}
